@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*,
*:before,
*:after {
  box-sizing: border-box;
}
.main-container{
    margin-top: 150px;
    margin-bottom: 150px;
}
body {
  padding: 0px;
  margin: 0px;
  background: #f4f1f1;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

div#bmrcalc {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form {
  width: 600px;
  background: white;
  padding: 20px;
  border: 1px solid #ffc5c5;
  box-shadow: 0 1px 9px #cdb3b3;
  border-radius: 5px;
  max-width: 100%;
}
h2 {
  margin: 0px;
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.inputwrap {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.inputwrap .label {
  /* display: block; */
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.inputwrap label{
    margin-right: 20px;
    font-size: 13px;
}
.inputwrap .genderF,
.inputwrap .genderM{
    margin-right: 10px;
}
input[type="text"],
input[type="number"] {
  padding: 8px 7px;
  width: 100%;
  margin-right: 10px;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  border-radius: 20px;
}
input[type="text"] {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 10px 0px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
button {
  display: block;
  width: 100%;
  padding: 10px 1px;
  background: #ce1212;
  color: white;
  border: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
}
select {
  padding: 10px 10px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.error {
  background: #ce1212;
  color: white;
  text-align: center;
  padding: 4px 16px;
  margin-bottom: 15px;
  display: inline-block;
}
.result {
  background: red;
  color: white;
  text-align: center;
  padding: 10px 0px;
  margin-top: 9px;
  font-size: 18px;
}
.workout {
  margin-top: 19px;
}

@media only screen and (max-width: 500px) {
  div#bmrcalc {
    align-items: end;
  }
}
